# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
/logs/**
credentials.json

# Logs
*.log

# Custom gitignore settings
/reports/**

# Output directories
dist/
build/
coverage/
.out/
.tmp/

# Editor and system files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.png

# Ignore Jest test cache
jest/
.cache/

# Ignore Puppeteer/Playwright downloads
.puppeteer/
.playwright/

# Ignore database files
*.sqlite
*.sqlite-wal
*.sqlite-shm
